{% extends "base.html" %}
{% block content %}
<h2>在庫一覧</h2>
<table class="table table-striped">
    <thead class="table-primary">
        <tr>
            <th>資器材名</th>
            <th>数量</th>
            <th>物品要求</th>
        </tr>
    </thead>
    <tbody>
        {% for item in items %}
        <tr>
            <td>{{ item.name }}</td>
            <td>{{ item.quantity }}</td>
            <td>
                {% if item.name in item_requests %}
                    {% for req in item_requests[item.name] %}
                        {{ req.date.strftime('%m/%d') }}: {{ req.quantity }}<br>
                    {% endfor %}
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
